/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ff6347;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.pokemon-list div {
    background-color: #ffebcd;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.pokemon-list div:hover {
    transform: scale(1.05);
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ff4500;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}